body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkblue;
}

h2{
    color: darkblue;
}

h3{
    color: darkblue;
}

ul{
    color: darkblue;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}

iframe{
    display: block;
    margin: auto;
    width: 50%;
}