body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: black white;
    color: darkred;
    font-size: 125%;
}

h1{
    color: darkred;
    text-align: center;
}

h2{
    color: darkred;
    text-align: center;
}

h3{
    color: darkred;
    text-align: center;
}

ul{
    color: darkred;
    line-height: 1.5;
    font: size 16px;
}

li{
margin-left: 40%;
line-height: 1;
}

img{
    display: block;
    width: 50%;
}

iframe{
    display: block;
    margin: auto;
}